@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
body{
	background-color: #fff;
	margin: 2%;
	font-family: Comfortaa;
}
img{
	width: 100%;
}

h2{
	margin: 15px 0px;
	text-align: center;
	text-decoration: underline;
}

a{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: blue;
}
a:hover{
	text-decoration: none;
	color: #0327AD
}



.main_table{
	background-color: #fff;
	box-shadow: 0px 0px 24px -7px rgba(0,0,0,1);
	width:100%; 
	border: solid 1px;

}

.main_table .country_column{
	width:23.75%;
}

.main_table .index_column{
	width: 5%;
}

.main_table .description_column{
	font-size: 14px;
}
.main_table .capital{
	color: #bb2222;
}

